body{
    margin: 0;
    padding: 0;
    
    background-image: linear-gradient(to right, rgba(0, 7, 63, .9), rgba(0, 7, 63, .9)), url("../img/noise.png");
    animation: noise 0.5s steps(10) infinite;
}

@keyframes noise
{
    0%{
        background-position: 0 0;
    }

    100%{
        background-position: 100% 100%;
    }
}


a {
    text-decoration: none;
    font-weight: bold;
    text-transform: none;
    display: block;
    padding: 2px 4px;
    color: rgba(255, 255, 255, 0.75);
}

a:hover{
    background-color: #0324D9;
    color: rgba(255, 255, 255, 1);
}