.box{
    max-width: 500px;
}


.flex{
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    width: 100%;
}

label {
    display: none;
}

/** large screen **/
@media (min-width: 1124px) {
    .flex{
        justify-content: start;
        align-items: center;
        flex-direction: column;
        height: 640px;
    }

    #my-github{
        margin-top: -72px;
    }
}


/** small screen **/
@media (max-width: 560px) {
    #my-profile{
        text-align: center;
    }

    #my-profile img{
        float: none;
        width: 40%;
        margin: 0;
    }

    #my-profile a {
        text-align: left;
    }
}