body {
    font-family: "Roboto";
}

#my-profile img{
    float:left;
    object-fit: cover;
    border-radius: 50%;
    width: auto;
    margin: 0;
    margin-right: 28px;
}

#my-profile article{
    display: inline-block;
    margin: 10px
}

#my-games article{
    text-align: center;
}

#my-games a{
    display: inline-block;
    padding: 8px 8px;
    width: 28%;
}

#my-games img{
    width: 100%;
}

#my-link{
    display: inline-block;
    text-align: center;
}

#my-link a{
    display: inline-block;
    color: white;
}


h2{
    text-transform: uppercase;
}

h3{
    text-transform: capitalize;
}

h4{
    margin: 0 auto;
    text-transform: uppercase;
}

hr {
    border: solid;
    border-width: 1px;
}

p {
    text-align: justify;
}

.card {
    color: white;
    margin: 10px;
    margin-right: 20px;
    margin-bottom: 30px;

    background: rgb(243,108,235);
    background: -moz-linear-gradient(45deg, rgba(243,108,235,0.9) 0%, rgba(5,150,241,0.9) 25%, rgba(5,150,241,0.9) 75%, rgba(243,108,235,0.9) 100%);
    background: -webkit-linear-gradient(45deg, rgba(243,108,235,0.9) 0%, rgba(5,150,241,0.9) 25%, rgba(5,150,241,0.9) 75%, rgba(243,108,235,0.9) 100%);
    background: linear-gradient(45deg, rgba(243,108,235,0.9) 0%, rgba(5,150,241,0.9) 25%, rgba(5,150,241,0.9) 75%, rgba(243,108,235,0.9) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00c8",endColorstr="#ff00c8",GradientType=1);

    display: inline-block;
    padding: 1em;

    border: solid;
    box-shadow: 10px 10px rgba(255,255,255, 1);
}
