*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    -webkit-print-color-adjust: exact;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 794px;
    margin: 0;
}

code {
    display: block;
    font-size: 0.5px;
    color: white;
}

p {
    font-size: 85%;
    text-align: justify;
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: #3333FF;
}

blockquote {
    font-size: 80%;
    color: #333;
}

ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: space-between;
}

li {
    display: inline-block;
}

h1 {
    font-size: 110%;
    text-align: center;
}

h2 {
    font-size: 95%;
    text-transform: uppercase;
    text-align: center;
    color: white;
    background-color: #222;
    padding: 2px;
}

h2 code {
    color: #222;
}

h3 {
    font-size: 90%;
}

@media (max-width: 794px) {
    main {
        margin: 0 12px;
    }
    ul {
        flex-direction: column;
    }
}

@media print {
    body {
        display: block;
    }
    main {
        max-width: initial;
        margin: 0;
    }
    ul {
        flex-direction: row;
    }
}   
