<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>cv-rodrigo-dornelles-{{ 'now' | date: '%Y-%m-%d' }}</title>
    <style>{% include "./style.css" %}</style>
  </head>
  <body>
    <main>{{ content }}</main>
  </body>
</html>
